version: '3'

networks:
    laravel:
        name: laravel

services:
    site:
        image: nginx:1-alpine
        container_name: nginx
        ports:
            - "${NGINX_PORT:-8081}:80"
        volumes:
            - ./:/var/www/html
            - ./docker/nginx/nginx.conf /etc/nginx/nginx.conf
            - ./docker/nginx/general.conf /etc/nginx/general.conf
            - ./docker/nginx/php_fastcgi.conf /etc/nginx/php_fastcgi.conf
            - ./docker/nginx/security.conf /etc/nginx/security.conf
            - ./docker/nginx/default.conf /etc/nginx/conf.d/default.conf
        depends_on:
            - mysql
            - php
            - redis
        networks:
            - laravel

    mysql:
        image: mysql:8
        container_name: mysql
        restart: unless-stopped
        tty: true
        ports:
            - "3307:3306"
        environment:
            MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
            MYSQL_ROOT_HOST: "%"
            MYSQL_ROOT_PASSWORD: "${DB_PASSWORD}"
            MYSQL_DATABASE: "${DB_DATABASE}"
            MYSQL_USER: "${DB_USER}"
            MYSQL_PASSWORD: "${DB_PASSWORD}"
        entrypoint:
            sh -c "
            echo 'CREATE DATABASE IF NOT EXISTS ${DB_DATABASE}; CREATE DATABASE IF NOT EXISTS ${DB_DATABASE_TEST:-laravel_testing}' > /docker-entrypoint-initdb.d/init.sql;
            /usr/local/bin/docker-entrypoint.sh --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci
            "
        volumes:
            - "${DB_VOLUME:-$HOME/mysql/}:/var/lib/mysql"
        networks:
            - laravel

    php:
        build:
            context: .
            dockerfile: docker/php/Dockerfile
        container_name: php
        volumes:
            - ./:/var/www/html
            - "$HOME/.config/psysh/psysh_history:/root/.config/psysh/psysh_history"
            - "$HOME/.composer:/tmp"
        ports:
            - "${PHP_PORT:-9001}:9000"
        networks:
            - laravel

    redis:
        image: redis:6-alpine
        container_name: redis
        ports:
            - "${REDIS_PORT:-6379}:6379"
        networks:
            - laravel
